[submodule "PR-GLS-service"]
	path = PR-GLS-service
	url = https://github.com/EdgarACarneiro/PR-GLS-service
[submodule "CPD-service"]
	path = CPD-service
	url = https://github.com/most-inesctec/CPD-service
[submodule "stfXCore"]
	path = stfXCore
	url = https://github.com/most-inesctec/stfXCore
